<div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100 " style="margin-top: 10%">
      <div class="row d-flex justify-content-center align-items-center h-100" >
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5" style="color: #252428; font-family: Impact">Login</h2>


<%= form_tag sessions_path do %>
  <div style=" margin-left: 10%; font-family: 'Times New Roman'">
    <%= label_tag "Email", nil, style: "display: block" %>
    <%= text_field_tag :email, nil, placeholder: "email" %>
  </div>
    <br>
  <div style="margin-left: 10%; font-family: 'Times New Roman'">
    <%= label_tag "Password", nil, style: "display: block" %>
    <%= password_field_tag :password, nil, placeholder: "password" %>
  </div>
  <br>
  <div style="margin-left: 10%; color: #252428; font-family: 'Times New Roman'">
    <%= submit_tag "LOG IN", style: "display: block" %>
  </div>
<% end %>

<br>
  <div style="margin-left: 10%; color: #252428; font-family: 'Times New Roman'">
<%= button_to 'Don\'t have an account', new_user_path, method: :get %>
  </div>


<br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
