<p style="color: green"><%= notice %></p>

<h1 class="text-uppercase" style="font-family: Impact">Portfolio</h1>

<% if @portfolio.user_id == @user.id %>
  <% if @portfolio.private %>
    <%= button_to "Make Public", portfolio_path(@portfolio), method: :patch, class: "btn btn-outline-dark btn-sm" %>
  <% else %>
    <%= button_to "Make Private", portfolio_path(@portfolio), method: :patch, class: "btn btn-outline-dark btn-sm" %>
  <% end %>
<% end %>

<h3 class="text-uppercase mt-3" style="font-family: Impact">Profit:</h3>
<% if @profit.round(2).abs > 0.0 %>
  <%= @profit.round(2) %>%
<% else %>
  0.0%
<% end %>

<h2 class="text-uppercase mt-2" style="font-family: Impact">Coins</h2>
<div id="portfolios">
  <% @deals.each do |deal| %>
    <p>
      <%= deal.keys[0] %> : <%= deal[deal.keys[0]].round(8) %>
    </p>
  <% end %>
</div>

<div>
  <p>
    <%= link_to "Back to account", user_path, class: "btn btn-outline-dark btn-sm"  %>
  </p>
</div>
<div>
  <p>
    <%= link_to "Deals", portfolio_deals_path(@portfolio), class: "btn btn-outline-dark btn-sm" %>
  </p>
</div>